<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погодное приложение</title>
    <link rel="stylesheet" href="../../static/weather/style.css">
</head>
<body>
    <header>
        <div class="title">
            <h1>Погодное приложение</h1>
        </div>
        <nav>
            <a href="#" class="nav-item">Главная</a>
            <a href="https://github.com/TeamOfTimka" class="nav-item">О нас</a>
        </nav>
    </header>

    <div class="container">
        <div class="col-1">
            <h1>Погода в вашем городе</h1>
            <form action="">
                <label for="city">Город</label>
                <input type="text" id="city" name="city" placeholder="Введите город">
                <input type="submit" name="send" value="Узнать" class="button">
            </form>
        </div>
        <div class="col-2">
            <h1>Информация</h1>
            <div class="elem">
                <div>
                    <b>Город: </b> {{ info.city }} <br>
                    <b>Температура:</b> {{ info.temp }}<sup>o</sup><br>
                </div>
                <img src="https://openweathermap.org/img/w/{{ info.icon }}.png" alt="картинка погоды">  
            </div>
        </div>
    </div>
</body>
</html>